@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap");
button {
  position: relative;
  color: #ffffff;
  font-size: 1.2rem;
  padding: 1em;
  border-radius: 40px;
  border: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  min-width: 200px;
  -webkit-box-shadow: 0px 4px 10px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 10px 0 rgba(0, 0, 0, 0.25);
  z-index: 1;
  cursor: pointer;
  text-decoration: none;
}

@media screen and (max-width: 700px) {
  button {
    font-size: 1rem;
  }
}

button::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 40px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff93e1), to(#a16be0));
  background: linear-gradient(#ff93e1, #a16be0);
  -webkit-box-shadow: 0px 4px 10px 0 rgba(0, 0, 0, 0.45);
          box-shadow: 0px 4px 10px 0 rgba(0, 0, 0, 0.45);
  content: "";
  opacity: 0;
  z-index: -1;
}

button:hover::before {
  -webkit-animation: anim-button 0.4s forwards;
          animation: anim-button 0.4s forwards;
}

@-webkit-keyframes anim-button {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes anim-button {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.heart-icon {
  fill: transparent;
}

.heart-icon svg {
  overflow: visible;
  width: 1.5rem;
  margin-right: 2em;
  stroke: black;
  stroke-width: 2rem;
  stroke-opacity: 1;
}

@media screen and (max-width: 768px) {
  .heart-icon svg {
    margin-right: 1em;
  }
}

.heart-icon svg path {
  fill: transparent;
}

.heart-icon svg path:hover {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-animation: anim-heart 1s forwards;
          animation: anim-heart 1s forwards;
}

@-webkit-keyframes anim-heart {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  33% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    fill: url(#Gradient);
    stroke: url(#Gradient);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    fill: url(#Gradient);
    stroke: url(#Gradient);
  }
}

@keyframes anim-heart {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  33% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    fill: url(#Gradient);
    stroke: url(#Gradient);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    fill: url(#Gradient);
    stroke: url(#Gradient);
  }
}

* {
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  padding: 0px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 4px 10px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 10px 0 rgba(0, 0, 0, 0.15);
  z-index: 2;
  position: relative;
}

.header__logo {
  padding: 1em 0 1em 0;
  width: 50%;
  max-width: 400px;
}

.header h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 20rem;
  font-weight: bold;
  text-align: center;
}

.header a:visited {
  color: black;
}

.header i {
  position: absolute;
  top: 33%;
  left: 10%;
  font-size: 1.5rem;
  color: black;
}

.header i:active {
  color: #9356DC;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #ffffff;
  background-color: #2f2f2f;
  padding: 2em 1em 2em 2em;
  font-size: 1.2em;
  line-height: 1.7em;
}

@media screen and (max-width: 1024px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    font-size: 1em;
  }
}

.footer__logo {
  width: 115px;
  padding: 0 0 0.5em 0;
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.footer__nav1, .footer__nav2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__nav1 i, .footer__nav2 i {
  padding-right: 0.5em;
}

.footer__nav1 i {
  padding-right: 1em;
}

.footer a {
  text-decoration: none;
  color: #ffffff;
  display: block;
}

.footer a:hover {
  text-decoration: underline;
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: loader-bg .4s 1.6s ease-out forwards;
          animation: loader-bg .4s 1.6s ease-out forwards;
}

.loader__bullet-1, .loader__bullet-2, .loader__bullet-3 {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  z-index: 11;
  margin: 10px;
  -webkit-animation: loader 3s ease-in-out forwards;
          animation: loader 3s ease-in-out forwards;
}

.loader__bullet-1 {
  background-color: #9356DC;
}

.loader__bullet-2 {
  background-color: #FF79DA;
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
}

.loader__bullet-3 {
  background-color: #99E2D0;
  -webkit-animation-delay: .6s;
          animation-delay: .6s;
}

@-webkit-keyframes loader {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  25% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: .1;
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  75% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: .1;
  }
  100% {
    opacity: 0;
    z-index: -10;
  }
}

@keyframes loader {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  25% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: .1;
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  75% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: .1;
  }
  100% {
    opacity: 0;
    z-index: -10;
  }
}

@-webkit-keyframes loader-bg {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    z-index: -10;
  }
}

@keyframes loader-bg {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    z-index: -10;
  }
}

.localisation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #eaeaea;
  padding: 1em 0 1em 0;
  z-index: 1;
}

.localisation i, .localisation p {
  color: #2f2f2f;
  font-size: 1rem;
  margin: 5px;
}

.hero {
  background-color: #f7f6f7;
  text-align: center;
  margin: 0px;
  padding: 5em 0 5em 0;
  line-height: 4em;
}

@media screen and (max-width: 700px) {
  .hero {
    line-height: 2em;
  }
}

.hero h1 {
  font-weight: 500;
  font-size: 2rem;
}

@media screen and (max-width: 700px) {
  .hero h1 {
    font-size: 1rem;
  }
}

.hero h3 {
  font-weight: 100;
  font-size: 1.5rem;
}

@media screen and (max-width: 700px) {
  .hero h3 {
    font-size: .75rem;
  }
}

.container h2 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 2em;
}

@media screen and (max-width: 1024px) {
  .container h2 {
    text-align: left;
  }
}

.fctnmt {
  padding: 5em 2em 5em 2em;
  background-color: #ffffff;
}

.fctnmt-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (max-width: 1024px) {
  .fctnmt-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.fctnmt-step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background-color: #f4f4f4;
  border-radius: 20px;
  padding: 1em 3em 1em 0em;
  margin: 1em;
  width: 30%;
  -webkit-box-shadow: 0px 4px 10px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 10px 0 rgba(0, 0, 0, 0.15);
  font-size: 1em;
}

@media screen and (max-width: 1024px) {
  .fctnmt-step {
    width: 90%;
  }
}

@media screen and (max-width: 350px) {
  .fctnmt-step {
    font-size: .8em;
  }
}

.fctnmt-step::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 20px;
  background-color: rgba(147, 86, 220, 0.2);
  -webkit-box-shadow: 0 0 0 0;
          box-shadow: 0 0 0 0;
  opacity: 0;
  -webkit-transform-origin: center left;
          transform-origin: center left;
}

.fctnmt-step:hover::before {
  -webkit-animation: fctnmt-hover-bg .5s;
          animation: fctnmt-hover-bg .5s;
  opacity: 1;
}

.fctnmt-step__count {
  border-radius: 50%;
  color: #ffffff;
  background-color: #9356DC;
  padding: 5px 10px 5px 10px;
  margin: 0px 15px 0px -15px;
}

.fctnmt-step i {
  margin-right: 15px;
  position: relative;
  color: #2f2f2f;
  font-size: 1.5rem;
}

.fctnmt-step i::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: #9356DC;
  opacity: 0;
}

.fctnmt-step i.icon-1::after {
  content: "\f3cd";
}

.fctnmt-step i.icon-2::after {
  content: "\f03a";
}

.fctnmt-step i.icon-3::after {
  content: "\f54e";
}

.fctnmt-step__title {
  font-size: 1em;
}

.fctnmt-step:hover > i::after {
  -webkit-animation: fctnmt-hover-icon 0,7;
          animation: fctnmt-hover-icon 0,7;
  opacity: 1;
}

@-webkit-keyframes fctnmt-hover-bg {
  from {
    width: 0%;
    opacity: 1;
  }
  to {
    width: 100%;
    opacity: 1;
  }
}

@keyframes fctnmt-hover-bg {
  from {
    width: 0%;
    opacity: 1;
  }
  to {
    width: 100%;
    opacity: 1;
  }
}

@-webkit-keyframes fctnmt-hover-icon {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fctnmt-hover-icon {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.restaurants {
  background-color: #f7f6f7;
  padding: 4em 2em 4em 2em;
}

@media screen and (max-width: 1024px) {
  .restaurants {
    padding: 4em 0.5em 4em 0.5em;
  }
}

.restaurants h2 {
  margin-left: 2.5%;
}

.resto-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (max-width: 1024px) {
  .resto-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.resto-prev {
  margin: 15px;
  position: relative;
  -webkit-box-shadow: 0px 4px 10px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 10px 0 rgba(0, 0, 0, 0.15);
  border-radius: 10px 10px 10px 10px;
  width: 45%;
}

@media screen and (max-width: 1024px) {
  .resto-prev {
    width: 95%;
  }
}

.resto-prev a {
  text-decoration: none;
  color: #000000;
}

.resto-prev img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  height: 17em;
  width: 100%;
  border-radius: 10px 10px 10px 10px;
}

.resto-prev__bottom {
  position: absolute;
  bottom: 0px;
  width: 100%;
  background-color: #ffffff;
  border-radius: 0 0 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.resto-prev__bottom__headings {
  padding: 10px 0 10px 10px;
}

.resto-prev__bottom__headings__title1 {
  font-weight: 500;
  font-size: 1.1rem;
  margin: 0 0 2px 0;
}

.resto-prev__bottom__headings__title2 {
  font-weight: 100;
  font-size: 0.9rem;
  margin: 0 0 0 0;
}

.resto-prev__new {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #88deca;
  color: #007450;
  padding: 3px 10px 3px 10px;
  border-radius: 3px;
}

body {
  background-color: #f4f4f4;
}

.hero-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  z-index: 0;
}

.hero-menu img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  max-height: 500px;
}

.container-resto {
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
  background-color: #f4f4f4;
  z-index: 1;
}

@media screen and (max-width: 1024px) {
  .container-resto {
    border-radius: 30px 30px 0 0;
  }
}

.menu-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #f4f4f4;
  border-radius: 30px 30px 0 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em 1em 1em 1em;
  font-size: 1.5rem;
}

@media screen and (max-width: 1024px) {
  .menu-heading {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.menu-heading h1 {
  font-family: 'Shrikhand', cursive;
  font-size: 1.5rem;
}

.menu {
  margin: 15px 5% 0 5%;
}

@media screen and (max-width: 1024px) {
  .menu {
    margin: 15px 0 0 0;
  }
}

.menu-part {
  text-transform: uppercase;
  font-weight: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2em;
}

@media screen and (max-width: 1024px) {
  .menu-part {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: 1em;
  }
}

.menu-part__underline {
  background-color: #99E2D0;
  width: 50px;
  height: 3px;
}

.menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (max-width: 1024px) {
  .menu-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.menu-component {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 content;
          flex: 1 1 content;
  background-color: #ffffff;
  border-radius: 15px;
  margin: 10px 10px 5px 10px;
  width: 40%;
  color: black;
  -webkit-box-shadow: 0px 4px 10px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 10px 0 rgba(0, 0, 0, 0.15);
  overflow: hidden;
  cursor: pointer;
  -webkit-animation: load-display 2s ease backwards;
          animation: load-display 2s ease backwards;
}

.menu-component:nth-child(2) {
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
}

.menu-component:nth-child(3) {
  -webkit-animation-delay: .6s;
          animation-delay: .6s;
}

.menu-component:nth-child(4) {
  -webkit-animation-delay: .9s;
          animation-delay: .9s;
}

@media screen and (max-width: 1024px) {
  .menu-component {
    width: 90%;
  }
}

.menu-component:hover .menu-component__right {
  /* animation: check-slide .6s both; */
}

.menu-component:hover .menu-component__right i {
  -webkit-animation: check-spin .6s ease-in-out forwards;
          animation: check-spin .6s ease-in-out forwards;
}

.menu-component__text {
  padding: 0.7em;
  margin-right: 1em;
  overflow: hidden;
}

.menu-component__text h3, .menu-component__text h4 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.menu-component__text h3 {
  font-size: 1em;
  font-weight: 500;
}

.menu-component__text h4 {
  font-size: .9em;
  font-weight: 100;
}

.menu-component__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-item-align: stretch;
      align-self: stretch;
}

.menu-component__right__rate {
  font-weight: 500;
  background-color: white;
  padding: .5em;
}

.menu-component__right__check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #88deca;
  padding: 1em 2em;
  -ms-flex-item-align: stretch;
      align-self: stretch;
}

.menu-component__right__check i {
  -webkit-filter: invert(100%);
          filter: invert(100%);
  font-size: 1.5rem;
}

@-webkit-keyframes check-slide {
  from {
    -webkit-transform: translateX(88px);
            transform: translateX(88px);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes check-slide {
  from {
    -webkit-transform: translateX(88px);
            transform: translateX(88px);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes check-slide-back {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(3.5em);
            transform: translateX(3.5em);
  }
}

@keyframes check-slide-back {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(3.5em);
            transform: translateX(3.5em);
  }
}

@-webkit-keyframes check-spin {
  from {
    -webkit-transform: rotate(225deg);
            transform: rotate(225deg);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes check-spin {
  from {
    -webkit-transform: rotate(225deg);
            transform: rotate(225deg);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes load-display {
  from {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes load-display {
  from {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.bottom-order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 3em;
}
/*# sourceMappingURL=main.css.map */