.header {
    display: flex;
    justify-content: center;
    background-color: $white;
    box-shadow: 0px 4px 10px 0 rgba(0, 0, 0, .15);
    z-index: 2;
    position: relative;
    &__logo {
        padding: 1em 0 1em 0;
        width: 50%;
        max-width: 400px;
    }
    & h1 {
        font-family: 'Roboto', sans-serif;
        font-size: 20rem;
        font-weight: bold;
        text-align: center;
    }
    & a:visited {
            color: black;
    }
    & i {
        position: absolute;
        top: 33%;
        left: 10%;
        font-size: 1.5rem;
        &:active {
            color: $primary-color;
        }
    }
}

