.heart-icon {
    fill: transparent;
    & svg {
        overflow: visible;
        width: 1.5rem;
        margin-right: 2em;
        stroke: black;
        stroke-width: 2rem;
        stroke-opacity: 1;
        path {
            fill: transparent;
            &:hover {
                transform-origin: center;
                animation: anim-heart 1s forwards;
            }
        }
    }
}

@keyframes anim-heart {
    0% {
        transform: scale(1);
    } 
    33% {
        transform: scale(1.5);
        fill: url(#Gradient);
        stroke: url(#Gradient);
    }
    100% {
        transform: scale(1);
        fill: url(#Gradient);
        stroke: url(#Gradient);
    }
}