body {
    background-color: $super-light-grey;
}

.hero-menu {
    display: flex;
    width: 100%;
    z-index: 0;
    & img {
        object-fit: cover;
        width: 100%;
        max-height: 500px;
    }
}

.container-resto {
    transform: translateY(-50px);
    background-color: $super-light-grey;
    z-index: 1;
    @media screen and (max-width: 1024px) {
        border-radius: 30px 30px 0 0;        
    }
}

.menu-heading {
    display: flex;
    justify-content: space-around;
    background-color: $super-light-grey;
    border-radius: 30px 30px 0 0;
    align-items: center;
    padding: 1em 1em 1em 1em;
    font-size: 1.5rem;
    @media screen and (max-width: 1024px) {
        justify-content: space-between;
    }
    & h1 {
        font-family: 'Shrikhand', cursive;
        font-size: 1.5rem;
    }
}

.menu {
    margin: 15px 5% 0 5%;
    @media screen and (max-width: 1024px) {
        margin: 15px 0 0 0;
    }
    &-part {
        text-transform: uppercase;
        font-weight: 100;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2em;
        @media screen and (max-width: 1024px) {
            align-items: flex-start;
            padding-left: 1em;
        }
        &__underline {
            background-color: $tertiary-color;
            width: 50px;
            height: 3px;
        }
        & h2 {
            font-weight: 100;
        }
    }
    &-list {
        display: flex;
        justify-content: space-around;
        @media screen and (max-width: 1024px) {
            flex-direction: column;
            align-items: center;
        }
    }
    &-component {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        flex-wrap: nowrap;
        flex: 1 1 content;
        width: 30%;
        background-color: $white;
        border-radius: 15px;
        margin: 10px 10px 5px 10px;
        color: black;
        box-shadow: 0px 4px 10px 0 rgba(0, 0, 0, .15);
        overflow: hidden;
        cursor: pointer;
        animation: load-display 2s ease backwards;
        &:nth-child(2) {
            animation-delay: .3s;
        }
        &:nth-child(3) {
            animation-delay: .6s;
        }
        &:nth-child(4) {
            animation-delay: .9s;
        }
        @media screen and (max-width: 1024px) {
            width: 90%;
        }
        &:hover &__right {
            margin-right: 0px;
            & i {
                animation: check-spin .6s ease-in-out forwards;
            }
        }
        &__text {
            padding: 0.7em;
            margin-right: 1em;
            overflow: hidden;
            & h3, h4 {
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
            & h3 {
                font-size: 1em;
                font-weight: 500;
            }
            & h4 {
                font-size: .9em;
                font-weight: 100;
            }
        }
        &__right {
            display: flex;
            justify-content: space-around;
            align-items: flex-end;
            align-self: stretch;
            margin-right: -90px;
            transition: .6s ease;
            &__rate {
                font-weight: 500;
                background-color: white;
                padding: .7em;
            }
            &__check {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: $green-light;
                padding: 1em 2em;
                align-self: stretch;
                & i {
                    filter: invert(100%);
                    font-size: 1.5rem;
                }
            }
        }
    }
}

@keyframes check-slide-back {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(3.5em);
    }
}

@keyframes check-spin {
    from {
        transform: rotate(225deg);
    }
    to {
        transform: rotate(0deg);
    }
}

@keyframes load-display {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.bottom-order {
    display: flex;
    justify-content: center;
    margin-top: 3em;
}
