.localisation {
    display: flex;
    justify-content: center;
    background-color: $light-grey-darker;
    padding: 1em 0 1em 0;
    & i, p {
        color: $dark-grey;
        font-size: 1rem;
        margin: 5px;
    }
}

.hero {
    background-color: $light-grey;
    text-align: center;
    margin: 0px;
    padding: 5em 0 5em 0;
    & h1 {
        font-weight: 500;
        font-size: 2rem;
    }
    & h2 {
        font-weight: 100;
        font-size: 1.5rem;
    }
    & button {
        color: $white;
        font-size: 1.2rem;
        padding: 1em;
        border-radius: 40px;
        border: none;
        background: linear-gradient($secondary-color, $primary-color);
    }
}

.fctnmt {
    padding: 2em 2em 3em 2em;
    & h2 {
        font-size: 1.5;
        font-weight: 500;
    }
    &-list {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    &-step {
        display: flex;
        align-items: center;
        background-color: $super-light-grey;
        border-radius: 20px;
        padding: 1em 3em 1em 0em;
        max-width: 300px;
        box-shadow: 0px 4px 10px 0 rgba(0, 0, 0, .15);
        &__count {
            border-radius: 50%;
            color: $white;
            background-color: $primary-color;
            padding: 6px 9px 6px 9px;
            margin: 0px 15px 0px -15px;
        }
        & i {
            margin-right: 15px;
            position: relative;
            color: $dark-grey;
            font-size: 1.5rem;
            z-index: 1;
            &:hover {
                &::after {
                    opacity: 1;
                }    
            }
            &::after {
                position: absolute;
                content: "";
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                color: $primary-color;
                opacity: 0;
                z-index: -1;
                transition: opacity 250ms;
            }
        }   
        &__title {
            font-size: 1em;
        }
    }
}

.restaurants {
    background-color: $light-grey;
    padding: 4em 2em 4em 2em;
}

.resto-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.resto-prev {
    margin: 15px;
    position: relative;
    box-shadow: 0px 4px 10px 0 rgba(0, 0, 0, .15);
    border-radius: 10px 10px 10px 10px;
    & a {
        text-decoration: none;
        color: #000000;
    }
    & img {
        object-fit: cover;
        height: 15em;
        width: 336px;
        border-radius: 10px 10px 10px 10px;
    }
    &__bottom {
        position: absolute;
        bottom: 0px;
        width: 311px;
        padding: 10px 15px 10px 10px;
        background-color: $white;
        border-radius: 0 0 10px 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__headings {
            &__title1 {
                font-weight: 500;
                font-size: 1rem;
                margin: 0 0 2px 0;
            }
            &__title2 {
                font-weight: 100;
                font-size: 0.8rem;
                margin: 0 0 0 0;
            }
        }
        & i {
            display: inline-block;
        }
    }
    &__new {
        position: absolute;
        top: 10px;
        right: 10px;
        background-color: $green-light;
        color: $dark-green;
        padding: 3px 5px 3px 5px;
        border-radius: 3px;
    }
}